<div class="container">
	<h1>Create account</h1>
	<%= form_for @user do |f|%>
	  <%= f.label :username%>
	  <%= f.text_field :username%>
	  <%= f.label :password%>
	  <%= f.password_field :password%>
	  <%= f.submit %>
	<%end%>
</div>

<div class="container">
	<h2>Landed here by accident?</h2>
	<%= button_to "Back home", '/', method: :get, class: 'secondary-button' %>
</div>