<p id="notice"><%= notice %></p>

<div class="container">
<h1>Categories</h1>
</div>

    <% @categories.each do |category| %>
      <div class="container task">
        <h3><%= category.name %></h3>
			
			<div class="task-links">
			    <a href = "<%= edit_category_path(category) %>">
				    <img src = <%= asset_path("edit.png") %> alt = "Edit"></a>
			    <a href = "<%= category_path(category) %>" data-confirm = "Are you sure?" data-method = "delete">
				    <img src = <%= asset_path("delete.png") %> alt = "Delete"></a>
			</div>	
      </div>
    <% end %>

<div class="container">
	<%= button_to 'New Category', new_category_path, method: :get %>
</div>

<div class="container secondary-container">
	<h2>Searching your tasks?</h2>
<%= button_to "Back home", '/', method: :get, class: 'secondary-button'%>
</div>
